Repository ansys/scade-apitools, pull requests merged in 2024-03, with the labels that each got.

#49 ci: upload coverage report to codecov
  .github/workflows/ci_cd.yml
Labels: maintenance

#54 fix: codecov CI/CD config
  .github/workflows/ci_cd.yml
Labels: bug, maintenance

#55 maint: support pytest 8.x
  .github/workflows/ci_cd.yml
  pyproject.toml
Labels: maintenance

#58 fix: remove check switcher
  .pre-commit-config.yaml
  doc/source/conf.py
Labels: bug

#61 fix: Update sphinx autoapi and resolves vale issue
  doc/.vale.ini
  doc/Makefile
  doc/make.bat
  doc/source/conf.py
  pyproject.toml
Labels: bug, maintenance
